{# templates/edit_show.html #}
{% extends "base.html" %}

{% block title %}Edit Show{% endblock %}

{% block content %}
    <h1>Edit Show: {{ show.title }}</h1>

    <form method="POST" action="{{ url_for('edit_show', show_id=show.id) }}">
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title(value=show.title) }}
        {{ form.overview.label }} {{ form.overview(value=show.overview) }}
        {{ form.release_year.label }} {{ form.release_year(value=show.release_year) }}
        {{ form.genre.label }} {{ form.genre(value=show.genre) }}
        {{ form.image_url.label }} {{ form.image_url(value=show.image_url) }}
        {{ form.trailer_url.label }} {{ form.trailer_url(value=show.trailer_url) }}
        {{ form.imdb_id.label }} {{ form.imdb_id(value=show.imdb_id) }}
        {{ form.download_link.label }} {{ form.download_link(value=show.download_link) }}
      {{ form.available_seasons.label }} {{ form.available_seasons(value=show.available_seasons) }}
        <div class = "form-check">
           {{ form.is_new.label(class="form-check-label") }}
           {{ form.is_new(class="form-check-input")}}
        </div>

        <div class = "form-check">
           {{ form.on_slider.label(class="form-check-label") }}
           {{ form.on_slider(class="form-check-input")}}
        </div>

        {{ form.submit() }}
    </form>

    <p><a href="{{ url_for('admin') }}">Back to Admin Panel</a></p>
{% endblock %}
