Flask==3.0.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.23
python-dotenv==1.0.0
requests==2.31.0
redis==5.0.1
celery==5.3.6
flower==2.0.1
gunicorn==21.2.0
thefuzz==0.20.0
python-telegram-bot==20.7
Werkzeug==3.0.1
psycopg2-binary==2.9.9
Flask-WTF==1.2.1
WTForms==3.1.2
kombu==5.3.4
amqp==5.2.0
vine==5.1.0
fuzzywuzzy==0.18.0
Flask-Login==0.6.3
ratelimit
