{% extends "base.html" %}

{% block title %}TV Show Updates{% endblock %}

{% block content %}
  <h1><span class="blinking-dot"></span>New TV Show Updates</h1>

  {% if update_timed_out %}
    <div class="alert alert-warning" role="alert">
        The latest TV show updates may not be fully displayed. Please try refreshing the page later.
    </div>
  {% endif %}

  <div class="tv-shows">
    {% if tv_shows %}
        {% for show in tv_shows %}
            <div class="card">
                <a href="{{ url_for('show_details', message_id=show.message_id) }}">
                    {% if show.poster_path %}
                        <img src="{{ show.poster_path }}" alt="{{ show.show_name }}" loading="lazy">
                    {% else %}
                        <div class="telegram-loader">
                            <div class="plane"></div>
                            <div class="circle"></div>
                        </div>
                    {% endif %}
                    <h2>{{ show.show_name }}</h2>
                    <p>{{ show.season_episode }}</p>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No TV shows found.</p>
    {% endif %}
    </div>

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1, search=search_query) }}">Previous</a>
        {% endif %}
        <span class="current-page">{{ page }}</span>
        {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1, search=search_query) }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
