{% extends "base.html" %}

{% block title %}TV Show Updates{% endblock %}

{% block content %}
  <h1><span class="blinking-dot"></span>New TV Show Updates</h1>
   <div class="tv-shows">
    {% if tv_shows %}
        {% for show in tv_shows %}
            <div class="card">
                <a href="{{ url_for('show_details', message_id=show.message_id) }}">
                    {% if show.poster_path %}
                        <img src="{{ show.poster_path }}" alt="{{ show.show_name }}" loading="lazy">
                    {% else %}
                        <p>Image Not Found</p>
                    {% endif %}
                    <h2>{{ show.show_name }}</h2>
                    <p>{{ show.season_episode }}</p>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No TV shows found.</p>
    {% endif %}
   </div>

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1, search=search_query) }}">Previous</a>
        {% endif %}
        <span class="current-page">{{ page }}</span>
        {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1, search=search_query) }}">Next</a>
        {% endif %}
    </div>

{% endblock %}
