{% extends 'base.html' %}

{% block title %}{{ show.show_name }}{% endblock %}

{% block content %}
    <div class="show-details">
        {% if show.poster_path %}
        <img src="{{ show.poster_path }}" alt="{{ show.show_name }}" class="show-detail-poster">
        {% else %}
         <div class="no-poster">No Poster Available</div>
        {% endif %}

        <h1>{{ show.show_name }}</h1>
        <p><strong>Season/Episode:</strong> {{ show.season_episode }}</p>
        {% if show.overview %}
            <p><strong>Overview:</strong> {{ show.overview }}</p>
        {% endif %}
        {% if show.vote_average %}
            <p><strong>Rating:</strong> {{ show.vote_average }}/10</p>
        {% endif %}

        {% if show.download_link %}
        <a href="{{ url_for('redirect_to_download', message_id=show.message_id) }}" class="download-button">Download HERE ✔️</a>

        {% else %}
            <p>Download link not available.</p>
        {% endif %}
    </div>
{% endblock %}
