{% extends "base.html" %}

{% block title %}{{ show.show_name }}{% endblock %}

{% block content %}
    <h1>{{ show.show_name }}</h1>
    <p>{{ show.season_episode }}</p>

   {% if show.poster_path %}
    <img src="{{ show.poster_path }}" alt="{{ show.show_name }}" style="max-width:300px;" loading="lazy">
    {% else %}
        <div class="telegram-loader">
            <div class="plane"></div>
            <div class="circle"></div>
        </div>
    {% endif %}

    {% if show.overview %}
        <p><strong>Overview:</strong> {{ show.overview }}</p>
    {% endif %}

    {% if show.vote_average %}
        <p><strong>Rating:</strong> {{ show.vote_average }}/10</p>
    {% endif %}

    <a href="{{ url_for('redirect_to_download', message_id=show.message_id) }}" class="download-button">Download</a>
{% endblock %}
